.formulaire{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin:200px;
   

    
    
}
form h1{
    color:rgb(120, 27, 207);
}
.formulaire form{
    border: 1px solid #ccc;
    padding: 30px;
    width: 55%;
    text-align: center;
    border-radius: 5px;
    box-shadow:0 2px 4px rgb(0, 0,0, 0.1);
}
.formulaire button{
    width: 100%;
}
.formulaire form label{
    font-weight: bold;
    float: left;
}
